
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #FFFFFF;
  
}
li, a{
  text-decoration: none;
  color: #8A8888;

}
.header{
  margin: 0%;
  border: 1px solid #F3EDED;

}
nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 15px 165px 15px 165px;
  
}
 nav ul li{
  list-style-type: none;
  display: inline;
  padding: auto;
  
}
nav ul li span{
  margin: 0px 40px;
}
nav ul{
  margin-bottom: 0%;
}
li img{
  padding-left: 22px;
}
.home{
  color: #86BE3F
}
.menu-bar .active{
  color: #86BE3F
}
.btn-green{
  background: #86BE3F;
  font-family: 'Inter', sans-serif; 
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 22px 14px 22px;
  border-radius: 7px;
  border: none;
}
/* =========================== */
.hamburger {
  display: none;
}
.nav-menu {
  display: flex;
}
.menu-bar ul li a:hover{
  color: #86BE3F
}
.nav-bar{
  background: #FFFFFF;
  position: fixed;
  height: 133 px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
}
/* ========================== */
.menu-bar ul li {
  list-style-type: none;
  display: inline;

}
.menu-bar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 25px 165px 19px 165px;
}
.menu-bar ul{
  padding: 0%;
}
/* =======header end================= */

.containerr {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 133px;
}
.centered {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered h1{
  font-weight: 700;
  font-size: 64px;
}
.centered p{
  font-weight: 500;
  font-size: 24px;
}

/* ======hero end==================== */

.about-heading{
  margin-top: 80px;
  text-align: center;
  color: #363636;
}
.about-hr{
  border: 2px solid #86BE3F;
  width:131px;
  border-radius: 4px;
  margin: 25px auto;
  opacity: 1;


}
.about-heading h1{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
}

.frame-top-left{
  padding-right: 6px;
  transform: translate(-50%, -165%);
}

.container-1{
  display: flex !important;
  justify-content: space-between!important;
    
}
.box{
  background: #F8F8F8;
  border-radius: 6px;
  width: 32%;
  padding: 8px;
   text-align: center;
   height: 297px;


}
.box h3{
  margin-top: 17px;
   font-weight: 500;
   text-align: center;
   font-size: 20px;
   color: #363636;

  }
  .box p{
     font-weight: 400;
     font-size: 14px;
     color: #666666;
    }
    .box-img{
      width: 183px;
      height: 174px;
      margin-top: -92px;

    }

    .about-qute{
      display: flex;
      justify-content: center;
      margin: 53px 7px 30px 7px;

    }
    .qute{
      padding: 0px 7px;
    }
    .qute-h3{
      text-align: center;
      font-style: italic;
      font-weight: 500;
      font-size: 21px;
      max-width: 790px;
      line-height: 30px;
      color: #363636;
    }
    .about-end{
      font-family: 'Poppins';
      text-align: center;
      font-weight: 500;
      font-size: 18px;
      color: #86BE3F;
    }
    /* ===========About end================== */
#sire{
  display: flex ;
  justify-content: space-between;
  margin-top: 110px;
}
.box-1{
  position: relative;
  width: 5%;
  top: 0;
  left: 0;
  flex-wrap: wrap;

}
.image-0{
  padding-right: 6px;
  transform: translate(-50%, 18%);
}

.image-1{
  position: absolute;
  width: 349px;
  left: -19px;
  top: 32px;
  filter: drop-shadow(0px 0px 17px rgba(38, 57, 92, 0.13));
  border-radius: 5px;
}
.image-2{
  position: absolute;
  left: 23px;
  top: 73px;}
.image-3{
  position: absolute;
  left: 148px;
  width: 321px;
  top: 262px;
  filter: drop-shadow(0px 0px 17px rgba(38, 57, 92, 0.13));
  border-radius: 5px;
}
.image-4{
  position: absolute;
  left: 409px;
  top: 416px;}
.frame{
  position: relative;
  top: 0;
  left: 0;
}
.sire{
  color: #86BE3F;
}
.title{
  font-weight: 500;
  font-size: 30px;
}
.heading-sire{
  font-weight: 600;
  font-size: 34px;
}
.paragraph-sire{
  font-weight: 400;
  font-size: 17px;
  color: #666666;
}
.box-2{
  width: 57%;
}

.frame-1{
float: right;
transform: translate(-160%, 18%);
}
.circle{
  transform: translate(259%, 48%);
  }
.contentt{
  padding-top: -679px;
  text-align: left;
  margin-top: -36px;
}
.hr{
  border: 2px solid #86BE3F;
  width:131px;
  border-radius: 4px;
  margin: 25px 485px 25px auto;
  float: left;
  opacity:1;
}
/* =========SIRE end===================== */
.feature-one .image{

 padding:7px;
 border: 3px solid #86BE3F;
 width: 58px;
 height: 58px;
 border-radius: 50%;
 margin: 4px 13px 0px 0px;
}
.icon{
  align-items: center;
  width: 39px;
  height: 39px;
}
#feature{
  background: url('../public/images/pattern-8 2.png');
  display: flex ;
  justify-content: space-between;
  margin-top: 210px;
  flex-direction: column;

}
.heading- h1{
  margin-top: 87.1px;
  text-align: center;
}
#feature .container{
  display: flex !important;
  padding: 0%;
}
.feature-one{
display: flex;
margin: 41px 0px ;
/* justify-content: flex-start; */
}
.box-feature1, .box-feature2{
  padding: 32px;

}
.contentt h3{
font-weight: 600;
font-size: 20px;
line-height: 84.02%;
color: #1E1E1E;
}
.contentt p{
font-weight: 400;
font-size: 18px;
line-height: 128.52%;
color: #363636;
}
.contentt{
height: 153px;
  margin: 4px 0px;
}
/* ==========end Features================================ */

.benefit{
  text-align: center;
  margin: 80px auto;
}
.cards{
  display: flex;
}

.card{
  margin: 0px 12px ;
  align-items: center;
  padding-top:  39px;
  background: #FFFFFF;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
}
.contenttt h3{
  padding: 4px;
  margin: 4px;
  font-weight: 600;
    font-size: 20px;
    color: #1E1E1E;
  }
  .contenttt{
    padding: 6px;
text-align: center;
  }
  .contenttt p{
    font-weight: 400;
    font-size: 16px;
  }
  .card img{
  height: 69px;
  width: 69px;
  margin: 24px;
  }
  .ban{
    padding: 30px 0px;
    margin: 50px 0px;;
    background: #F9F9F9;
    ;
  }
  .banner{
 display: flex;
 justify-content: space-between;
  }
  .banner .contenttt{
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    width: 255px;
    height: 147.9px;
    text-transform: uppercase;
    padding: 24px;
    align-items: last baseline;
}

/* ============end benefits============== */

.textt{
  margin: 24px;
  color: #666666;

}
.offer h4{
font-family: 'Inter';
font-weight: 500;
font-size: 16px;
color: #363636;
}
.offer p{
  font-weight: 400;
}
.offer{
  background: #FFFFFF;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
  margin: 0px 15px 24px 15px;
  
}
.option {
  display: flex;
flex-direction: column;
  background-color: #F5F5F5;
  align-items: center;
  border-radius: 50%;
  height: 61px;
  width: 61px;
  margin: 18px 58px 18px 0px;
  padding:11px;}

.options, .icons, .offers, .list div, .bx, .qus, .contactdetail, .contct ,.social-link, .contactus, .contactus_form, .foter, .flexnewsletter{
  display: flex;
}
.option p{
  margin-top: 19px;
}
.list{
  min-height: 212px;
}
.list p{
  margin-left: 9px;
  padding-top: 0%;
}
.list .image{
  margin-top: 6.5px;
  width: 9px;
  height: 12.15px;
}
.per{
  margin-left: 24px;
}
.hea {
margin-top: 34px;
}

.heading_with_arrow{
  display: flex;
justify-content: space-between;
padding-right: 24px;
}
/* ===============Offer end======================= */
#process{
  background: url('../public/images/Connettiti al sole anche tu-bg.png');
  padding: 3px;
}
.b{
  position: relative;
  text-align: center;
}
.bb {
  position: absolute;
  width: 227px;
  height: 230px;
  top: 50%;
  left: 39%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}
.bttn{
  text-align: center;
  margin: 50px;
}
.bbb{
  top: 50%;
  left: 44%;
margin-right: 12px;
}
.short_detaail{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #666666;
margin: 14px ;
}
.ccard img{
  margin: 28px auto;
}
/* ================end process================ */
.qus .dash_icon{
  color: #363636;  min-width: 18.2px !important;
  margin: 0px 18px;
}
.open_qus{
  padding: 16px;
border-radius: 6px;
}

  .elicp{
  float: right;
    transform: translate(15%, -118%);
    }

/* ===============end FAQs============== */

.elicp_left{
  float: left;
    transform: translate(111%, -445%);
    }

.contactdetail, input, textarea{
  padding: 24px;
  flex-direction: column;
  width: 34%;
  border: 1px solid #DEDEDE;
  border-radius: 9px;
  margin: 15px;
  flex: 1;
}
.flex2{
  flex: 2.5 !important;
}
.contct{
  align-items: flex-start;
  margin: 4px;
}
.contct img{
  padding: 4px;
  margin-right: 19px;
}
input, textarea{
  padding: 8px 20px;
  margin: 8px;
  width: auto;
  border-radius: 5px;
}
.contect{
  font-weight: 400;
  font-size: 16px;
  color: #363636;
}
.flex2 .btn .btn-green{
  padding: 12px 50px;
  align-items: end;
  width: 141px;
}
.btn .btn-green{
 float: right;
}
textarea{
  min-height: 115px;
}
/* ===========end Contactus================== */
.newsletterr{
  background: url(../public/images/news-letter-bg.png);
  color: #FFFFFF;
  height: 134px;
}
.flexnewsletter{
  justify-content: space-between;
  width: 78%;
  padding-top: 25px;

}
.subscribe{
 margin-left: -25px;
  float: left;
}
.insert_email input{
  position: relative;
  width: 427px;
  height: 55px;
  border: none;
  border-radius: 27px;
}
.insert_email{
  position: relative;

} .mail_box {
  background-color:#86BE3F;
  padding: 9px;
  width: 42px;text-align: center;
  position: absolute;
  border-radius: 50%;
  bottom:  46%;
  right: 4%;
}
/* ============end newsletter================= */

.footeer{
  background: url(../public/images/footer-bg.png);
  background-color: #1E1E1E;
  color: #FFFFFF;
  padding-top: 61px;
  font-weight: 600;
}
.foter{
  justify-content: space-between;
  padding: 1px;
}
.flex1, .flex4{
  max-width: 274px;
}
.flex2, .flex4{
  margin: 15px 0px 15px 72px;
}
.flex2 h1, .flex4 h1, .flex2 h2, .flex4 h2{
  margin: 13px;
}
.flex2 div{
  margin-top: 51px;
}
.footer-row h2{
 margin: 26px 0px;
}
.footeer h1{
  font-weight: 600;
  line-height: 95.52%;
  font-size: 16px;
}
.footeer h2{
  font-weight: 400;
  line-height: 133.52%;
  font-size: 16px;
}
.repeat_logo img{
margin:0px 12px 0px 0px;
}
.social-link{
  justify-content: space-between;
}
.reserved,  .socials img{
padding: 18px;
}